{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "libs": "./libs",
          "ui": "./ui",
          "static": "./static"
        }
      }
    ],
    [
      "babel-plugin-styled-components", 
      {
        "ssr": true
      }
    ]
  ]
}
